<div align= center>
    <div class='card' >
        <mat-grid-list  cols="3" rowHeight="100px">
<form novalidate class="text-center border border-light p-5" [formGroup]="validatore" (ngSubmit)="onSubmit()" >
    <mat-grid-tile [colspan]=3 [rowspan]=1>
      <b><p class="h4 mb-4">Registrazione</p></b>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-form-field appearance="legacy">
            <div >
        <input matInput type="text"
                class="form-control"
                formControlName="nome"
                placeholder='nome'>
        <div *ngIf="validatore.controls.nome.dirty || validatore.controls.nome.touched">
          <div *ngIf="validatore.controls['nome'].hasError('required')">
              <p style='color: red'>Nome Richiesto</p>
          </div>
        </div>
            </div>
        </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-form-field appearance="legacy">
        <div>
        <input matInput type="text"
                class="form-control"
                formControlName="cognome"
                placeholder="cognome">
        <div *ngIf="validatore.controls.cognome.dirty || validatore.controls.cognome.touched">
              <div *ngIf="validatore.controls['cognome'].hasError('required')">
                <p style='color: red'>Last name is required</p>
              </div>
        </div>
        </div>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput type='text' placeholder='materia'/>
        </mat-form-field>
    </mat-grid-tile>
  
    <!-- <app-form formControlName='emails' [validEmail]='validEmail'>
    </app-form> -->
    
    
    <div class="card-footer text-center">
     <!--  <button type="submit"
              class="btn btn-primary"
              [disabled]="validatore.invalid">Submit
      </button> -->
            
    </div>  

</form>
        </mat-grid-list>
    </div>
</div>